extends layout

block content
  div(class="container")

    form(class="shortenForm js-shortenForm")
      h2 Enter a URL to shorten

      div(class="js-errorMessage alert hidden" role="alert")

      div(class="form-group")
        label(for="inputUrl" class="sr-only") URL
        input(
          type="url"
          id="inputUrl"
          class="js-inputUrl form-control"
          placeholder="http://example.com"
          required
          autofocus
        )

      div(class="form-group")
        label(for="inputCustomPath" class="sr-only") Custom path
        div(class="input-group")
          div(class="input-group-addon")= host
          input(type="text" id="inputCustomPath" class="js-inputCustomPath form-control")

      button(class="js-submitBtn btn btn-lg btn-success btn-block" type="submit") Shorten

      div(class="js-resultsFormGroup hidden input-group")
        input(class="js-resultsField form-control" type="text" readonly)
        div(
          class="js-copyBtn copyBtn input-group-addon"
          data-clipboard-target=".js-resultsField"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Copy to clipboard"
        )
          span(class="glyphicon glyphicon-copy" aria-hidden="true")
          span(class="sr-only") Copy to clipboard
